.block-container{
    max-width: 100%;
    height: auto;
    background-color: #ffffff;   
    padding: 50px;
    border-radius: 40px;
    transition: 0.2s ease-in-out;
    animation: 1s show ease-in-out;
    display: block;
    margin: 40px;
  }
  
  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width:675px) {
    .block-container {
      box-shadow: none;
      padding: 18px 10px;
      animation: none;
    }
  }