.button-container {
    border: transparent;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-family: inherit;
  }

  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0);
    }
  }